.dots {
  border: 1px solid #e8e9eb;
  border-radius: 5px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  & li button p {
    font-size: 14px;
    text-align: start;
    margin: 0;
    font-weight: 400;
  }

  & li button {
    border-radius: 5px;
    width: 100%;
    line-height: 2;
    background-color: #fff;
  }
}

@media (min-width: 769px) {
  .wrapNonProfOrg {
    display: flex;
  }
  .dots {
    width: 45%;
    display: flex;
    align-self: baseline;
  }
}
