.titleH1 {
  color: #495057;
  max-width: 800px;
  text-align: center;
  font-weight: 700;
}
.carousel {
  & ul {
    padding: 0 !important;
  }
  & ul li {
    padding-left: 1px;
  }
}
.feature {
  border-left: 2px solid var(--primary);
  font-size: 18px;
  padding-left: 5px;
}
.hero {
  overflow: hidden;
}

@media (max-width: 767px) {
  .titleH1 {
    font-size: 22px;
    line-height: 28px;
  }
  .feature {
    font-size: 15px;
  }
}
