.titleH1 {
  color: var(--gray-dark);
  max-width: 700px;
  text-align: center;
  font-weight: 700;
}

.titleH3 {
  color: var(--gray-dark);
  font-size: 26px;
  font-weight: 600;
}
.demo {
  color: #fff;

  &:hover {
    color: #fff;
  }
}

.carousel {
  & ul {
    padding: 0 !important;
  }
  & ul li {
    padding-left: 1px;
  }
}
.feature {
  border-left: 3px solid var(--primary);
  font-size: 18px;
  font-weight: 700;
  color: var(--gray-dark);
  padding-left: 8px;
}
.hero {
  overflow: hidden;
}

.heroImg {
  position: relative;
  & picture {
    z-index: 2;
    max-width: 90%;
  }
}

@media (max-width: 767px) {
  .titleH1 {
    font-size: 22px;
    line-height: 28px;
  }
  .titleH3 {
    font-size: 18px;
    max-width: 300px;
  }
  .feature {
    font-size: 15px;
  }
}
