.animationWave {
  width: 100vw;

  position: absolute;
  bottom: 0;
  z-index: 1;
  path {
    animation: waveAnim 7s linear infinite forwards;
  }
  path:nth-child(2) {
    animation-delay: 1s;
  }
  path:nth-child(3) {
    animation-delay: 3s;
  }
  path:nth-child(4) {
    animation-play-state: paused;
  }
  .e,
  .f,
  ellipse {
    animation: circle 2s linear infinite alternate;
  }
}

@keyframes circle {
  0% {
    transform: translate(0px, -30px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes waveAnim {
  0% {
    d: path(
      'M0,369.663s148.337,33.83,297.67,20.942S563.078,335.719,754.2,364.831c310.261,32.024,310.21,40,528.757,9.664C1429.069,350.16,1600,384.7,1600,384V574.151H0Z'
    );
  }

  25% {
    d: path(
      'M0,350.663s148.337,33.83,297.67,40.942S563.078,335.719,800.2,364.831c320.261,32.024,310.21,100,538.757,9.664C1429.069,350.16,1600,400,1600,400V574.151H0Z'
    );
  }

  50% {
    d: path(
      'M0,369.663s218.337,55.83,297.67,40.942S563.078,335.719,754.2,364.831c210.261,32.024,310.21,100,528.757,9.664C1429.069,320,1600,384.7,1600,384V574.200H0Z'
    );
  }

  75% {
    d: path(
      'M0,340.663s148.337,55.83,297.67,20.942S563.078,335.719,700.2,364.831c210.261,32.024,310.21,46.069,548.757,9.664C1429.069,350.16,1600,340,1600,300V574.200H0Z'
    );
  }

  100% {
    d: path(
      'M0,369.663s148.337,33.83,297.67,20.942S563.078,335.719,754.2,364.831c310.261,32.024,310.21,46.069,528.757,9.664C1429.069,350.16,1600,384.7,1600,384V574.151H0Z'
    );
  }
}

@keyframes Wave2 {
  0% {
    d: path(
      'M0,192 C220,100,440,100,660,192 C880,290,1100,290,1320,192 L1320 500 L0 500'
    );
  }

  25% {
    d: path(
      'M0,100 C220,100,440,292,660,292 C880,292,1100,100,1320,100 L1320 500 L0 500'
    );
  }

  50% {
    d: path(
      'M0,192 C220,290,440,290,660,192 C880,100,1100,100,1320,192 L1320 500 L0 500'
    );
  }

  75% {
    d: path(
      'M0,292 C220,292,440,100,660,100 C880,100,1100,292,1320,292 L1320 500 L0 500'
    );
  }

  100% {
    d: path(
      'M0,192 C220,100,440,100,660,192 C880,290,1100,290,1320,192 L1320 500 L0 500'
    );
  }
}
