.animation {
  width: 100%;
  overflow: visible;
  position: absolute;
  path {
    animation: waveAnim 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  path:nth-child(2) {
    animation-delay: 1s;
  }
  path:nth-child(3) {
    animation-delay: 3s;
  }
  path:nth-child(4) {
    animation-play-state: paused;
  }
  .e,
  .f,
  ellipse {
    animation: circle 2s alternate infinite;

    animation-timing-function: linear;
  }
}

@keyframes circle {
  0% {
    transform: translate(0px, -30px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes waveAnim {
  0% {
    d: path(
      'M0,369.663s148.337,33.83,297.67,20.942S563.078,335.719,754.2,364.831c310.261,32.024,310.21,46.069,528.757,9.664C1429.069,350.16,1600,384.7,1600,384.7V574.151H0Z'
    );
  }

  25% {
    d: path(
      'M0,350.663s148.337,33.83,297.67,40.942S563.078,335.719,800.2,364.831c320.261,32.024,310.21,46.069,538.757,9.664C1429.069,350.16,1600,384.7,1600,384.7V574.151H0Z'
    );
  }

  50% {
    d: path(
      'M0,369.663s218.337,55.83,297.67,40.942S563.078,335.719,754.2,364.831c210.261,32.024,310.21,46.069,528.757,9.664C1429.069,350.16,1600,384.7,1600,384.7V574.151H0Z'
    );
  }

  75% {
    d: path(
      'M0,340.663s148.337,55.83,297.67,20.942S563.078,335.719,700.2,364.831c210.261,32.024,310.21,46.069,548.757,9.664C1429.069,350.16,1600,384.7,1600,384.7V574.151H0Z'
    );
  }

  100% {
    d: path(
      'M0,369.663s148.337,33.83,297.67,20.942S563.078,335.719,754.2,364.831c310.261,32.024,310.21,46.069,528.757,9.664C1429.069,350.16,1600,384.7,1600,384.7V574.151H0Z'
    );
  }
}
