.dropdown {
  position: relative;
  width: 200px;
  z-index: 0;
}

.item {
  background: #aacbff;
  box-sizing: border-box;
  cursor: pointer;
  font-family: Roboto;
  font-size: 20px;
  padding: 10px;
  position: relative;
  text-align: center;
  transition: background-color 0.05s ease-in-out;
  z-index: 1;

  &:hover {
    background-color: #8cb8ff;
    color: white;
  }
}

.open {
  position: absolute;
  top: 100%;
  width: 100%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  z-index: 0;
}
