.wrapBar {
  display: inline-block;
  margin: 0.5em 1em;
  padding: 0.5rem;
  box-shadow: -8px 12px 18px 0 rgba(25, 42, 70, 0.13);
  border: 1px solid #f0f0f0;
  border-radius: 0.3rem;
  background-color: #f8fafa;
}
