.container {
  padding: 20px 0;
  display: flex;
  align-items: center;
}
.wrapCalendar {
  border: 1px solid lightgray;
  border-radius: 0.25rem;
}
.wrapIcon {
  width: 2rem;
  padding: 0 0.5rem !important;
  border: 1px solid lightgray;
  fill: grey;
}
.calendarBtn {
  display: flex !important;
  border-radius: 0 !important;

  & .wrapIconCalendar {
    width: 1.5rem;
    fill: grey;
  }
}
