.top {
  font-size: 13px;
}
.settings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.topLeft {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

.topRight {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}
.wrapCharts {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .top {
    font-size: 14px;
  }
  .topRight {
    display: flex;
    flex: 1;
  }
  .wrapCharts {
    flex-direction: row;
    justify-content: space-around;
  }
}
