.settings {
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  // width: 100vw;
}
.topLeft {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}
.topRight {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  // width: 500px;
  // min-width: 500px;

  & div:first-child {
    min-width: 200px;
    height: 100%;
    line-height: 2;
    margin-right: 0.4rem;
    // TO DO fix all users & width select... with multi checks
    // & div:last-child {
    // }
  }
}
.wrapCharts {
}
