.settings {
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
}
.topLeft {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

.topRight {
  position: relative;
  margin: auto 0;
  display: flex;
  flex-direction: row-reverse;

  & div:first-child {
    min-width: 5rem;
  }

  & div div {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
.wrapCharts {
}

@media (min-width: 768px) {
  .topRight {
    display: flex;
    flex: 1;
  }
}
