.groupBtn {
  position: absolute !important;
  top: -3.2rem;
  height: 31px;
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  background-color: var(--bg-gray);

  & label:not(:last-child) {
    margin-left: -1px;
  }
}
.btn {
  margin: 0;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  border: 1px solid #ced4da;
  height: 31px;

  &:hover,
  &:focus {
    background-color: var(--light);
  }
  &:active {
    background-color: #e9ecef;
  }
}
.active {
  margin: 0;
  background-color: #eef0f2;
}
.hide {
  display: none;
}

.leftBtn {
  border-radius: 0.22rem 0 0 0.22rem;
}
.rightBtn {
  border-radius: 0 0.22rem 0.22rem 0;
  margin-left: -1px;
}

@media (min-width: 768px) {
  .groupBtn {
    position: relative !important;
    top: 0;
    height: 38px;
  }
  .btn {
    height: 38px;
  }
}
