.btn {
  flex: 1;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-gray);
  border-radius: 0.25rem;
  background-color: transparent;
  background: url('../../../assets/img/main/arrows/arrow-bottom.svg');
  background-repeat: no-repeat;
  background-position: right 1.25rem center;
  background-size: 0.6rem;
  color: var(--gray-dark);
  text-align: left;
  margin-right: 0.5rem;
}

.wrapSelect {
  width: 95%;
  height: 97%;
  margin: 0.5rem auto;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid var(--border-gray);
  border-radius: 0.25rem;
  overflow-y: hidden;
  // position: relative;
  max-width: 850px;
}

// search
.wrapSearch {
  height: 3.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.searchInput {
  width: 100%;
  border: 1px solid var(--border-gray);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

// checkboxes
.wrapCheckBoxes {
  max-height: calc(100% - 7rem);
  overflow-y: auto;

  // user role (manager, worker)

  .wrapRole {
    display: flex;
    align-items: center;
    margin-right: 1.75rem;
    height: 2rem;
    border-bottom: 2px solid var(--primary);
    margin: 0 0 0 60%;
    border-radius: 50px;
    border-top: 3px solid rgb(241, 241, 25);
    border-top: 3px solid var(--primary);
    margin: 2rem 1rem 0 50%;
    padding: 0 0 0 0.75rem;

    &:hover,
    &:focus {
      background: var(--primary);
    }

    &:hover label,
    &:focus label {
      color: #fff;
    }

    label {
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 4;
      text-align: right;
      color: var(--primary);
      margin: 0;
    }

    input {
      visibility: hidden;
      background-color: transparent;
    }
  }

  // inputs with users
  .wrapInput {
    display: flex;
    align-items: center;
    height: 5rem;
    border-bottom: 2px solid var(--border-gray);
    margin-right: 1.75rem;

    label {
      flex: 1;
      margin: 0;
      font-size: 1.5rem;
      line-height: 3.2;
    }
  }
}

// btn
.wrapBtn {
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  .btnClose {
    border: 2px solid var(--primary);
    border-radius: 0.5rem;
    padding: 0.25rem 1.5rem;
    color: var(--primary);
    font-size: 1.5rem;
    background-color: transparent;

    &:hover,
    &:focus {
      background-color: var(--primary);
      color: #fff;
    }
  }
}

// .select {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   -ms-appearance: none;
//   appearance: none;
//   outline: 0;
//   padding: 0 1.5rem 0 0.5rem;
//   border: 1px  solid var(--border-gray);
//   border-radius: 0.25rem;
//   background: url('../../../assets/img/main/arrows/arrow-bottom.svg');
//   background-repeat: no-repeat;
//   background-position: right 2rem center;
//   background-size: 9px;
//   color: var(--gray-dark);
//   height: 2.4rem;
//   display: flex;
//   flex: 1;
//   width: 45vw;
//   margin-right: -1rem;
// }

// .select:last-child {
//   width: 100%;
// }
// .select:first-child {
//   width: 100%;
//   margin-right: 0.5rem;
// }
