@import '../../../assets/css/variables.scss';

.title {
  max-width: 40rem;
}

.titleH2 {
  color: var(--primary);
  font-weight: 900;
  font-size: 35px;
  line-height: 46px;
}

.titleH3 {
  color: var(--gray-dark);
  font-weight: 700;
}

@media (max-width: 767px) {
  .titleH2 {
    font-size: 20px;
    line-height: 26px;
  }

  .titleH3 {
    font-size: 18px;
    line-height: 24px;
  }
}
