.title {
  max-width: 40rem;
}

.titleH2 {
  color: var(--primary);
  font-weight: 900;
  font-size: 35px;
  line-height: 46px;
}

.titleH3 {
  color: var(--gray-dark);
  font-weight: 700;
}

.liP > li {
  margin-bottom: 1rem;
  list-style: none;
  &::before {
    position: absolute;
    transform: translateY(3px);
    left: 15px;
    height: 20px;
    width: 20px;
    content: ' ';
    display: inline-block;
    background-image: url(../../../assets/img/nonprofit/svg/check.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (max-width: 767px) {
  .titleH2 {
    font-size: 20px;
    line-height: 26px;
  }

  .titleH3 {
    font-size: 18px;
    line-height: 24px;
  }
}
