.wrapBtn {
  border: 1px solid lightgray !important;
  border-radius: 0.25rem !important;
  margin-right: 0.75rem;

  //   height: 100% !important; not work
  //   background-color: red !important;
}
