.wrapBtn {
  display: flex;
  justify-content: flex-end;

  & button:first-of-type {
    margin-right: 0.5rem;
  }
}

// First step

// Second step
.wrapAllInputsInvite {
  display: flex;

  h6 {
    text-align: left;
    font-weight: 700;
  }

  .wrapByEmail {
    flex: 1;

    label {
      margin: 0;
      display: inline;

      h6 {
        font-weight: 700;
      }
    }
  }
  .wrapByRole {
    flex: 1;
    height: 100%;
    padding: 0 0.25rem 0 0.5rem;

    .wrapCheckBoxes {
      display: flex;
      align-items: center;
      padding-top: 0.5rem;

      .label,
      input {
        cursor: pointer;
        margin: 0;
      }
    }
  }
}

// Third step
.bdCallout {
  padding: 0.5rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left: 0.25rem solid #ffdf11;
  border-radius: 0.25rem;
}
.items {
  line-height: 2;
  list-style: none;
}
.listItem {
  padding: 0.5rem 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
// -- select

// .select {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   -ms-appearance: none;
//   appearance: none;
//   outline: 0;
//   padding: 0 1.5rem 0 0.5rem;
//   border: 1px solid var(--border-gray);
//   border-radius: 0.25rem;
//   background: url('../../../../../../assets/img/main/arrows/arrow-bottom.svg');
//   background-repeat: no-repeat;
//   background-position: right 2rem center;
//   background-size: 9px;
//   color: var(--gray-dark);
//   height: 2.4rem;
//   display: flex;
//   flex: 1;
//   width: 45vw;
//   margin-right: -1rem;
// }

// .select:last-child {
//   width: 100%;
// }
// .select:first-child {
//   width: 100%;
//   margin-right: 0.5rem;
// }

// Four step
.thumbsUp {
  width: 2rem;
  font-size: 3rem;
  animation: like 0.8s ease-in-out 0.3s;
}

@keyframes like {
  0% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-40deg);
  }
  85% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
