$enable-grid-classes: false;
$primary: #528078;
$secondary: #eed75a;
$success: #fec100;
$danger: #f75050;
$info: #5dee90;
$warning: #ffe869;
$light: #ffffff;
$dark: #212121;

// @import '../../../node_modules/bootstrap/dist/css/bootstrap.css';

.dropdown-item.active,
.dropdown-item:active {
  color: #212121 !important;
  text-decoration: none;
  background-color: lightgray !important;
}
