// For DayPicker.jsx
.dropdown-item.active,
.dropdown-item:active {
  color: #212121 !important;
  text-decoration: none;
  background-color: lightgray !important;
}

a,
a:hover {
  color: #212121;
  text-decoration: none;
}

/* custom font size */
.f0875 {
  font-size: 0.875rem;
}

/* custom indents */
.mb-6 {
  margin-bottom: 4rem;
}
.mt-6 {
  margin-top: 4rem;
}

.pb-6 {
  padding-bottom: 4rem;
}
.pt-6 {
  padding-top: 4rem;
}

.py-6 {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.p-6 {
  padding: 4rem;
}

/* customBG */
.sectionbg {
  background-color: #f8f9fa;
}
