@import './normalize.css';
@import '../fonts/fonts.css';
/* @import './variables.scss'; */

html {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  width: 100vw;
  overflow: hidden;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Mulish', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-x: auto;
}

img {
  display: block;
}

.f0875 {
  font-size: 0.875rem;
}
