@import '../fonts/fonts.css';
@import './normalize.css';
@import './bootstrap-grid.css';
@import './bootstrap.css';
@import './_custom.scss';

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  width: 100%;
  margin: 0;
  font-family: 'Mulish', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
  display: block;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #495057;
  --gray-darker: #343a40;
  --primary: #0083cd;
  --secondary: #c4c9ce;
  --success: #00a65a;
  --info: #95efff;
  --warning: #ffdf11;
  --danger: #e44655;
  --light: #eef0f2;
  --dark: #212121;
  --black: #000000;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  /* customer colors */
  --bg-gray: #f8f9fa;
  --hover-primary: #006ba7;
  --border-gray: #ced4da;

  /* ced4da */
}
