.wrapTitles {
  display: flex;
  justify-content: flex-end;

  h6 {
    flex: 1;
    text-align: left;
    font-weight: 700;
  }
}

.form {
  display: flex;
  justify-content: flex-end;
}
.wrapSent {
  padding: 0 0.25rem;
  svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--teal);
    padding: 0.15rem;
  }
}

.wrapAllInputsInvite {
  display: flex;
  margin-bottom: 0.5rem;
  // .wrapTitles {
  // }

  .wrapByEmail {
    flex: 1;
    .valid {
      border: 2px solid var(--teal);
    }
    .error {
      border: 2px solid tomato;
    }
  }
  .wrapByRole {
    flex: 1;
    height: 100%;
    padding: 0 0.25rem 0 0.5rem;

    .wrapCheckBoxes {
      display: flex;
      align-items: center;
      padding-top: 0.5rem;

      .label,
      input {
        cursor: pointer;
        margin: 0;
      }
    }
  }
}
