.btn {
  display: flex;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--primary);
  color: var(--white);
  height: 31px;
  padding: 0 0.5rem;

  &:hover,
  &:focus {
    outline: none;
    background-color: #006ba7;
  }

  & p {
    margin: auto 0;
  }
}
.wrapIcon {
  width: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

@media (min-width: 768px) {
  .btn {
    height: 38px;
    font-size: 14px;
  }
}
