.wrapBtn {
  display: flex !important;
  box-shadow: none !important;
  height: 31px;
  padding: 0 0.5rem !important;

  & p {
    margin: auto 0 !important;
  }
}
.wrapIcon {
  width: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

@media (min-width: 768px) {
  .wrapBtn {
    height: 38px;
  }
}
