.wrapBtn {
  border: 1px solid lightgray !important;
  border-radius: 0.25rem !important;
  margin-right: 0.75rem;
  padding: 0.4rem 0.8rem !important;
  white-space: nowrap;
  box-shadow: none !important;

  &:hover,
  &:focus {
    background-color: var(--light);
  }
  &:active {
    background-color: var(--secondary);
  }
}
