.wrapBtn {
  border: 1px solid lightgray !important;
  border-radius: 0.25rem !important;
  margin-right: 0.75rem;
  width: 180px;
  padding: 0 !important;
  outline: 1px solid rgba(101, 142, 208, 0.4) !important;
  outline-style: auto !important;

  &:hover,
  &:focus {
    background-color: var(--light);
    font-weight: 700;
  }
  &:active {
    background-color: var(--secondary);
    color: var(--white) !important;
  }
}
