.wrapDayPicker {
  position: relative;
  display: flex;
  height: 31px;

  & .wrapGroup {
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    margin-right: 0.75rem;
    border: 1px solid #ced4da;
    background-color: #f8f9fa;

    & .wrapIcon:hover {
      background-color: #e9ecef !important;
    }
  }
}

.dayPicker {
  position: absolute;
  top: 2.75rem;
  left: 0;
  z-index: 1;
}
.wrapIcon {
  padding: 0 0.5rem !important;
  box-shadow: none !important;
  display: flex !important;
  justify-content: space-between;
  fill: var(--gray-dark);
  height: 29px;

  & svg {
    width: 15px;
    padding: 2px;
  }
}
.arrowIconL {
  border-radius: 0.22rem 0 0 0.22rem;
}
.arrowIconR {
  border-radius: 0 0.22rem 0.22rem 0;
}

.arrowIconL,
.arrowIconR {
  width: 40px;
  display: flex;
  justify-content: center;
}
.date {
  border-left: 1px solid #ced4da !important;
  border-right: 1px solid #ced4da !important;
  white-space: nowrap;
  min-width: 55px;
  padding: 0 0.5rem !important;

  & svg {
    padding: 0;
  }

  & .wrapArrowBottom svg {
    padding: 0 0.2rem;
  }
}
