.wrapPeriodPicker {
  position: relative;
  height: 31px;
}
// .wrapIcon {
// }
.date {
  display: inline-block;
  height: 100%;
  margin-right: 0.75rem;
}
.periodPicker {
  position: absolute;
  top: 2.75rem;
  left: 0;
  z-index: 1;
}
