.wrapPeriodPicker {
  position: relative;
  display: flex;
}
.date {
  white-space: nowrap;
  margin-right: 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  background-color: #f8f9fa;
  outline: none;

  &:hover,
  &:focus {
    background-color: #e9ecef !important;
    outline: none;
  }
}
.periodPicker {
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: 1;
}

@media (min-width: 768px) {
  .date {
    height: 38px;
  }
}
