.wrapPeriodPicker {
  position: relative;
  display: flex;
  height: 31px;
}
.date {
  white-space: nowrap;
  height: 100%;
  margin-right: 0.75rem;
  line-height: 1.2 !important;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  background-color: #f8f9fa;

  &:hover {
    background-color: #e9ecef !important;
  }
}
.periodPicker {
  position: absolute;
  top: 2.75rem;
  left: 0;
  z-index: 1;
}
