.wrapWeekPicker {
  position: relative;
  display: flex;
  height: 31px;

  & .wrapCalendar {
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    margin-right: 0.75rem;
    background-color: #f8f9fa;

    & .wrapIcon:hover,
    & .wrapIcon:focus {
      background-color: #e9ecef !important;
    }
    & .date:hover,
    & .date:focus {
      background-color: #e9ecef !important;
    }
  }
}

.weekPicker {
  position: absolute;
  top: 2.75rem;
  left: 0;
  z-index: 1;
}
.wrapIcon {
  padding: 0 0.5rem !important;
  box-shadow: none !important;
  display: flex !important;
  justify-content: space-between;
  fill: var(--gray-dark);
  height: 31px;
  border: 1px solid #ced4da;
  margin-left: -1px;

  & svg {
    width: 15px;
    padding: 2px;
  }
}

.arrowIconL {
  border-radius: 0.22rem 0 0 0.22rem;
}
.arrowIconR {
  border-radius: 0 0.22rem 0.22rem 0;
}

.arrowIconL,
.arrowIconR {
  width: 40px;
  display: flex;
  justify-content: center;
}
.date {
  white-space: nowrap;
  border: 1px solid #ced4da;
  min-width: 55px;
  padding: 0 0.5rem !important;
  height: 31px;
  display: flex;
  align-items: center;
  margin-left: -1px;

  & .wrapArrowBottom svg {
    padding: 0 0.2rem;
  }

  & svg {
    padding: 0;
  }
}
