.wrapWeekPicker {
  position: relative;
  display: flex;
}

.wrapCalendar {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 0.25rem;
  margin-right: 0.75rem;
}
.weekPicker {
  position: absolute;
  top: 2.75rem;
  left: 0;
  z-index: 1;
}
.wrapIcon {
  width: 2rem;
  padding: 0 0.5rem !important;
  fill: grey;
  box-shadow: none !important;
}
.date {
  width: 12rem;
}
