.wrapHeader {
}

.wrapInfoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // height: 4rem;
  // padding: 0 16px;
  // background-color: #134790;

  // @media (min-width: 767px) {
  //   background-color: white;
  //   padding: 0 24px;
  // }

  height: 4rem;
  padding: 0 20px;
  background-color: var(--primary);
}
.menuIcon {
  height: 25px;
  width: 25px;
  fill: white;
}

@media (min-width: 768px) {
  .wrapInfoHeader {
    background-color: var(--dark);
  }

  .menuIcon {
    display: none;
  }
}
