.wrapHeader {
}

.wrapInfoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 20px;
  background-color: var(--primary);
}
.menuIcon {
  height: 25px;
  width: 25px;
  fill: white;
}

.wrapNav {
  height: 100%;
}
@media (min-width: 768px) {
  .wrapInfoHeader {
    background-color: var(--dark);
  }

  .menuIcon {
    display: none;
  }
}
