.buttons {
  border: none;
  border-radius: 0.25rem;
  padding: 0.2rem 0.5rem;
  display: flex;
  margin: 1.5rem 0;
  font-weight: 600;
}

.btnNext {
  background-color: var(--primary);
  // margin: 1.5rem 0 1.5rem auto;
  color: #fff;
  margin: 0;

  &:hover {
    opacity: 0.9;
  }
}

.btnPrev {
  background-color: var(--secondary);
  align-self: start;

  &:hover {
    opacity: 0.9;
  }
}
.btnSend {
  background-color: var(--yellow);
  margin: 0 0.5rem 0 0;
  font-size: 1.25rem;

  &:hover {
    opacity: 0.9;
  }
}

.btnSubmit {
  background-color: var(--yellow);
  font-weight: 600;

  &:hover {
    opacity: 0.9;
  }
}
