.buttons {
  border: none;
  border-radius: 0.25rem;
  padding: 0.2rem 0.5rem;
  display: flex;
  margin: 0;
  font-weight: 600;
  font-size: 1.25rem;
}

.btnNext {
  background-color: var(--primary);
  color: #fff;

  &:hover {
    opacity: 0.9;
  }
}

.btnPrev {
  background-color: var(--secondary);
  align-self: start;

  &:hover {
    opacity: 0.9;
  }
}
.btnSend {
  background-color: var(--yellow);
  margin-right: 0.5rem;

  &:hover {
    opacity: 0.9;
  }
}

.btnSubmit {
  background-color: var(--yellow);
  font-weight: 600;

  &:hover {
    opacity: 0.9;
  }
}
