@import '../../../assets/css/variables.scss';

.nav {
  background-color: $blue;
  height: 3rem;
  display: flex;
}

.navLink {
  height: 3rem;
  padding: 5px 2rem 5px 3rem;
  color: $white;
  display: flex;
  align-items: center;

  &:hover,
  :focus {
    color: $white;
    text-decoration: none;
  }

  &:active {
    color: $white;
  }
}
.wrapLink {
  position: relative;
}

.icon {
  position: absolute;
  top: 16px;
  left: 18px;
  z-index: 1;
  height: 15px;
  width: 15px;
  fill: white;
}

.navLinkIn {
  color: #6a7896;
  display: flex;
  align-items: center;
  padding: 0.5rem;

  &:hover,
  :focus {
    color: black;
    text-decoration: none;
    background-color: #f8f9fa;
  }

  &:active {
    color: $white;
    background-color: #dce1ea;
  }
}

.bgDashbord {
  background-color: #3a74c5;
}

.dropdown button {
  background-color: transparent !important;
  border: none;
  height: 3rem;
  padding: 5px 2rem 5px 3rem;
}
.dropdown button:focus {
  box-shadow: none !important;
}

.link {
  height: 3rem;
  & div {
    min-width: 12rem;
    padding: 0;
  }

  & div a:active {
    background-color: #dce1ea;
  }

  &:hover {
    background-color: #134790;
  }
}

@media (max-width: 900px) {
  .icon {
    left: 10px;
  }
  .navLink,
  .dropdown button {
    padding: 5px 2rem 5px 2rem;
  }
}
@media (max-width: 800px) {
  .icon {
    display: none;
  }

  .navLink,
  .dropdown button {
    padding: 5px 1.5rem 5px 1.5rem;
  }
}

@media (max-width: 767px) {
  .nav {
    position: absolute;
    flex-direction: column;
    top: 0;
    height: 100vh;
    width: 50%;
    display: flex;

    &_visible {
      height: 1px;
      width: 1px;
      overflow: hidden;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px, 1px, 1px, 1px);
      white-space: nowrap;
      display: none;
    }
  }

  .link div {
    position: static !important;
    top: unset !important;
    left: unset !important;
    right: unset !important;
    bottom: unset !important;
    transform: none !important;
    width: 100% !important;
    border: 0;
    border-radius: 0;
    background: #033273;
    margin: 0;
    padding: 0;
  }

  .navLinkIn {
    color: #fff;
  }

  .icon {
    display: block;
    top: 18px;
    left: 18px;
  }

  .navLink,
  .dropdown button,
  .navLinkIn {
    padding: 0.5rem 0 0.5rem 3rem;
  }
}
