.nav {
  background-color: var(--primary);
  height: 100%;
  display: flex;
}
.wrapLogo {
  height: 4.75rem;
  display: none;
  background-color: transparent;
  border: none;
}

.navLink {
  height: 3rem;
  padding: 5px 2rem 5px 3rem;
  color: var(--white);
  display: flex;
  align-items: center;

  &:hover,
  :focus {
    color: var(--white);
    text-decoration: none;
  }

  &:active {
    color: var(--white);
    background-color: transparent;
  }
}
.wrapLink {
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  left: 25px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  z-index: 1;
  height: 15px;
  width: 15px;
  fill: var(--white);
}

.navLinkIn {
  color: #6a7896;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  height: 100%;

  &:hover,
  :focus {
    color: black;
    text-decoration: none;
    background-color: #f8f9fa;
  }

  &:active {
    color: var(--white);
    // background-color: #dce1ea;
  }
}

.dropdown button {
  background-color: transparent !important;
  border: none;
  height: 3rem;
  padding: 5px 2rem 5px 3rem;
}
.dropdown button:focus {
  box-shadow: none !important;
}
.dropdownItem {
  padding: 0 !important;
}

.link {
  & div {
    min-width: 12rem;
    padding: 0;
  }

  & div a:active {
    background-color: transparent;
  }

  &:hover {
    background-color: #006ba7;
  }
}

@media (max-width: 900px) {
  .icon {
    left: 16px;
  }
  .navLink,
  .dropdown button {
    padding: 5px 1.5rem 5px 2rem;
  }
}
@media (max-width: 800px) {
  .icon {
    display: none;
  }

  .navLink,
  .dropdown button {
    padding: 5px 1.5rem 5px 1.5rem;
  }
}

@media (max-width: 767px) {
  .nav {
    position: absolute;
    flex-direction: column;
    top: 0;
    height: 100vh;
    width: 60%;
    display: flex;
    z-index: 2;

    &_visible {
      height: 1px;
      width: 1px;
      overflow: hidden;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px, 1px, 1px, 1px);
      white-space: nowrap;
      display: none;
    }
  }

  .wrapLogo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .link div {
    position: static !important;
    top: unset !important;
    left: unset !important;
    right: unset !important;
    bottom: unset !important;
    transform: none !important;
    width: 100% !important;
    border: 0;
    border-radius: 0;
    background: var(--blue);
    margin: 0;
    padding: 0;
  }

  .navLinkIn {
    color: var(--white);
  }

  .icon {
    display: block;
    top: 24px;
    left: 25px;
  }
  .dropdown button {
    width: 100%;
    text-align: start;
  }

  .navLink,
  .dropdown button,
  .navLinkIn {
    padding: 0.5rem 0 0.5rem 3rem;
  }
}
