.nav {
  background-color: var(--dark);
  height: 3rem;
  display: flex;
  min-width: 12rem;
}
.wrapLogo {
  height: 4.75rem;
  display: none;
  background-color: transparent;
  border: none;
}

.wrapLink {
  height: 4rem;
}

.link {
  & div {
    min-width: 12rem;
    padding: 0;
  }

  & div a:active {
    background-color: transparent;
  }

  &:hover {
    background-color: var(--gray-darker);
  }
}
.navLink {
  height: 100%;
  padding: 5px 2rem;
  color: var(--white);
  display: flex;
  align-items: center;
  background-color: #212121;
  white-space: nowrap;

  &:hover,
  :focus {
    color: var(--white);
    text-decoration: none;
  }

  &:active {
    color: var(--white);
    background-color: transparent;
  }

  & .icon {
    margin-right: 1rem;
    height: 15px;
    width: 15px;
    fill: var(--white);
  }
}

@media (max-width: 1254px) {
  .navLink {
    padding: 5px 1rem;
  }
}
@media (max-width: 1054px) {
  .navLink {
    // padding: 5px 0.5rem;
  }
}
@media (max-width: 954px) {
  & .icon {
    display: none;
  }
}
@media (max-width: 900px) {
  .navLink {
    padding: 5px 0.75rem;
  }
}
@media (max-width: 900px) {
  .navLink {
    padding: 5px 0.5rem;
  }
}

@media (max-width: 767px) {
  .nav {
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 2;

    &_visible {
      height: 1px;
      width: 1px;
      overflow: hidden;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px, 1px, 1px, 1px);
      white-space: nowrap;
      display: none;
    }
  }

  .wrapLogo {
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
      background-color: var(--gray-darker);
    }
  }

  .navLink {
    padding: 0.5rem 0 0.5rem 1.5rem;

    & .icon {
      display: block;
      top: 24px;
      left: 25px;
    }
  }
}
