@import '../../../assets/css/variables.scss';

.nav {
  background-color: $blue;
  height: 40px;
  display: flex;
}

.navLink {
  height: 100%;
  padding: 5px 20px;
  color: $white;
  display: flex;
  align-items: center;

  &:hover,
  :focus {
    color: $white;
    text-decoration: none;
    background-color: #134790;
  }

  &:active {
    color: $white;
  }
}

.navLinkIn {
  color: #6a7896;
  display: flex;
  align-items: center;
  padding: 5px;

  &:hover,
  :focus {
    text-decoration: none;
  }
}
.bgDashbord {
  background-color: #3a74c5;
}

.dropdown button {
  background-color: transparent !important;
  border: none;
  height: 100%;
}
.dropdown button:focus {
  box-shadow: none !important;
  // background-color: #134790 !important;
}
.link:hover {
  background-color: #134790;
}
