.userName {
  padding: 0 !important;
  color: white !important;

  & :focus {
    box-shadow: none !important;
    background-color: #f8f9fa;
  }
}

.menuTitle {
  color: #6a7896;
}
.icon {
  height: 14px;
  fill: #6a7896;
  margin: 0 5px 5px 0;
}
.item {
  width: auto;

  &:active {
    background-color: #dce1ea !important;
  }
  & span {
    color: #6a7896;
  }
}

.userIcon {
  fill: white;
  height: 1.5rem;
  display: block;
}

@media (min-width: 954px) {
  .userIcon {
    display: none;
  }
}
@media (max-width: 954px) {
  .wrapUserProfile div button:after,
  .wrapUserProfile div button span {
    display: none;
  }
}

@media (max-width: 767px) {
  .wrapUserProfile div button:after,
  .wrapUserProfile div button span {
    display: none;
  }
}
