.wrapUserProfile {
  padding: 0px;

  @media (max-width: 767px) {
    & div button:after,
    div button span {
      display: none;
    }
  }
}
.userName {
  & :focus {
    box-shadow: none !important;
    background-color: #f8f9fa;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.userName .menu {
  border: 1px solid #eceff5 !important;
}
.menuTitle {
  color: #6a7896;
}
.icon {
  height: 14px;
  fill: #6a7896;
  margin: 0 5px 5px 0;
}
.item span {
  color: #6a7896;
}
.userIcon {
  height: 1.5rem;
  fill: white;

  @media (min-width: 767px) {
    display: none;
  }
}
// .iconToogle {
//   @media (min-width: 767px) {
//     display: none;
//   }
// }
@media (min-width: 767px) {
  // .dropdown-toggle::after
}
