.wrapUserProfile {
}

.menu {
  border: 1px solid #eceff5 !important;
}
.menuTitle {
  margin: 0;
  color: #6a7896;
}
.icon {
  height: 14px;
  fill: #6a7896;
  margin: 0 5px 5px 0;
}
.item span {
  color: #6a7896;
}
