.header {
  .inner {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0.75rem;

    // .logo {
    // }

    .login {
      color: var(--secondary);
    }

    // .logo,
    // .login {
    // }
  }
}

// Title
.wrapTitle {
  text-align: center;
  .headTitle {
    color: var(--primary);
    font-size: 1.25rem;
  }
  .headDiscription {
    font-size: 0.75rem;
    margin-bottom: 0.75rem;
  }
}

// msform

// .msform {
// text-align: center;
// position: relative;
// }

// .msform fieldset {
// background: red;
// border: 0 none;
// border-radius: 0.5rem;
// box-sizing: border-box;
// width: 100%;
// margin: 0;
// position: relative;
// }

// .msform fieldset:not(:first-of-type) {
// display: none;
// }

// Progressbar

// Progress
.progress {
  height: 20px;
}
.container {
  overflow: hidden;
  height: 90vh;
}
