.bdCallout {
  padding: 0.5rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left: 0.25rem solid #ffdf11;
  border-radius: 0.25rem;
}
.addClientInput {
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.addClientBtn {
  border-radius: 0 0.25rem 0.25rem 0 !important;
}
.items {
  line-height: 2;
  list-style: none;
}
.listItem {
  padding: 0.5rem 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

.wrapBtn {
  display: flex;
  justify-content: flex-end;

  & button:first-of-type {
    margin-right: 0.5rem;
  }
  & button svg {
    fill: #fff;
  }
}
